@model ExWebApi.Models.Product

@using (@Html.BeginForm("Create","Home", FormMethod.Post ))
{
    <h4>Create Product</h4>
     <label>Id:</label> @Html.TextBoxFor(m=>m.Id) <br/>
    <label>Name:</label> @Html.TextBoxFor(m=>m.Name) <br/>
    <label>Price:</label> @Html.TextBoxFor(m=>m.Price) <br/>
    
    <input type="submit" value="Create"/>
    
}